.container-fluid{
  overflow: hidden;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
}
.font-family {
  font-family: 'Nunito', sans-serif;
}
.card-section-lower-text-1 {
  font-size: 34px;
  font-weight: bold;
}
.card-section-lower-text-2 {
  font-size: 18px !important;
  font-weight: bold;
}
.image-text-section-heading, .image-text-section-heading-2 {
  font-size: 27.7px;
  font-weight: bold;
}
.image-text-section-image {
  width: auto;
  height: 42vh;
}
.image-text-section-text-1 {
  font-size: 13px;
}
.image-text-section-tick-text {
  font-size: 13px;
}
.tick-icon {
  color: #FFA301;
}
.image-text-section-btn {
  background-color: #FF5A09;
  color: #e4e4e4;
  padding: 14px 85px;
  border-radius: 36px;
  font-size: 16px;
  position: relative;
  right: 11px;
}
.image-text-section-btn:hover {
  background-color: #d14500;
}
.dark-section {
  background-color: #1B2430;
}
.dark-section-title {
  font-size: 27px;
}
.dark-section-text-1 {
  width: 50%;
  font-size: 13px;
}
.dark-section-card-title {
  font-size: 17.5px;
  font-weight: bold;
}
.dark-section-card-text-1 {
  font-size: 12px;
  line-height: 20px;
}
.dark-section-card {
  border-radius: 15px;
  padding-top: 24px;
  padding-bottom: 13px;
  padding-left: 17px;
  width: 270px;
}
.dark-section-cards {
  width: 93%;
}
.dark-section-title {
  font-weight: bold;
}
.image-section-title {
  font-size: 34.3px;
  font-weight: bold;
}
.image-section-text-1 {
  font-size: 14.8px;
}
.overlay:before {
  content:"";
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:1;
  /* background:linear-gradient(to right,rgba(65, 0, 255, 0.4),rgba(255, 0, 232, 0.3)); */
  /* background: linear-gradient(to right,rgba(65, 0, 255, 0.4),rgba(255, 0, 232, 0.3)); */
}
.carousel-caption{
  top: 440px;
  z-index: 1;
}
.carousel-caption h3{
  font-size: 40px;
  font-weight: 700;
  line-height: 2;
}
.slider-caption{
  font-size: 25px;
}
.insta-btn{
  background-color: #d98100;
  border: 2px solid #d98100;
  color: #FFF;
  display: inline-block;
  font-size: 18px;
  width: 193.5px;
  padding: 27px 0;
  margin-right: 10px;
  /* box-shadow: 0px 3px 5px 1px #ffb727; */
}
.insta-btn:hover{
  border: 2px solid #d98100;
  background-color: #FFF;
  color: #d98100;
}
.service-btn{
  background-color: #FFF;
  border: 2px solid #d98100;
  color: #d98100;
  display: inline-block;
  font-size: 20px;
  width: 193.5px;
  font-weight: 500;
  padding: 27px 0;
  /* box-shadow: 0px 3px 5px 1px #ffb727; */
}
.service-btn:hover{
  background-color: #d98100;
  border: 2px solid #d98100;
  color: #FFF;
}
@media (min-width:961px)  {
  .navbar-expand-lg{
    height: 72.9px;
  }
  .carousel-inner .carousel-item{
    height:800px;
  }
}
.card-img-top{
  height: auto;
  width: 249px;
}
.image-caption span{
  position: absolute;
  top: 84px;
  font-size: 3em;
  right: 164px;
  color: white;
  font-weight: 600;
  opacity: .5;
}
.image-caption p{
  position: absolute;
  top: 67px;
  font-size: 21px;
  right: 152px;
  color: white;
  font-weight: 600;
}
.services-card{
  margin-bottom: 2rem;
}
.services-card .card{
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 6px 3px #e4e4e4;
  padding-top: 12px;
}
.services-section .container h3{
  font-size: 33px;
  font-weight: 600;
}
.about-us{
  padding-top: 25px;
  padding-bottom: 80px;
}
.about-us div h4{
  padding-top: 70px;
  text-align: justify;
}
.about-us div p{
  padding-top: 50px;
  text-align: justify;
  width: 500px;
}
.see-more{
  color: #FFBC66;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}
.customer-feedback{
  background-color: #715EFF;
  padding-top: 133px;
  padding-bottom: 128px;
}
.customer-feedback .owl-theme .item{
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.customer-feedback .owl-theme .item p{
  width: 50%;
  margin: auto;
}
.footer{
  background-color: #2B2C34;
  padding-top: 40px;
  padding-bottom: 100px;
}
.footer .list-group li{
  background: transparent;
}
.footer .list-group li a{
  text-decoration: none;
  color: #78797c;
}
.footer-numbering{
  font-size: 30px;
  font-weight: 600;
  color: white;
}
.footer-lunch-time{
  width: 30%;
}
.footer-time-col{
  padding-bottom: 10px;
  border-bottom: 5px solid gray;
}
.footer-account_no{
  font-size: 18.0px;
}
.footer-account-title,.copy-right{
  color: #ABABAD;
}
@media (max-width:480px){
  .carousel-inner .carousel-item{
    height: 400px;
  }
  .carousel-caption {
    top: 76px;  
  }
  .carousel-caption .d-flex{
    display: grid;
  }
  .service-btn{
    margin: 10px;
  }
  .insta-btn{
    margin: 10px;
  }
  .services-card .col-12{
    margin-bottom: 2rem;
  }
  .about-us-col{
    padding-left: 40px;
    padding-top: 33px;
  }
  .about-us div h4{
    padding-top: 0;
  }
  .about-us div p {
    padding-top: 50px;
    text-align: left;
    width: auto;
  }
  .pkg-card{
    margin: 3px;
  }
  .pakage-card-paent{
    padding: 0;
    margin: 0;
  }
  .product_type_heading{
    width: 241px!important;
  }
  .premium-tab{
    width: 241px!important;
  }
}
.pakage-card-parent{
  margin-top: 4px;
  margin-bottom: 4px;
}
.product_type_heading{
  width: 301px!important;
  width: 200px;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  width: 200px;
  overflow: visible;
  cursor: pointer;
  overflow: hidden;
  width: 201px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  
  color: black!important;
  border: 1px solid black!important;

  border-radius: 0;
  border-bottom: 0;
}
.product_type_heading.active{
  border-bottom: 0!important;
}
.premium-tab{
  width: 307px!important;
  width: 200px;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  width: 200px;
  overflow: visible;
  cursor: pointer;
  border-radius: 0;
  overflow: hidden;
  width: 201px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.like-content{
  border: 1px solid black;
  border-top: 0;
  border-radius: 0;
}
.premium-content.active{

}
.remove-blue-border{
  border-bottom: 0;
}
.add-border-blue{
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid #4781F7!important;
}
.add-border-black{
  border-bottom: 1px solid black!important;
}
/* .product_type_heading:not(.active){
  border-bottom: 1px solid #4781F7;
} */
/* .premium-content{
  border: 1px solid rgb(10, 138, 230);
  border-radius: 10px;
} */
.offer-div .row{
  margin-bottom: 0.5rem;
}
.product_discount{
  color: #ff603c;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;
}
.product_amount{
  margin: 0;
  font-size: 23px;
  font-weight: bold;
}
.card-hover:hover{
  background-color: #ff603c;
  color: white;
}
.card-hover:hover .product_discount {
  color: white;
}
.tab-content{
  padding-top: 30px;
}
.premium-tab{
  width: 200px;
  background: #4781F7!important;
  color: #FFF!important;
}
.buy-now{
  cursor: pointer;
  background: #ff603c;
  color: #FFF;
  padding: 0.75rem;
  margin: 1rem auto;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 10px;
  border-color: #ff603c;
  width: 60%;
}
.dollor-sign{
  font-size: 1.75em;
  vertical-align: text-top;
  position: relative;
  font-weight: normal;
  color: #999;
  margin-right: 0.1em;
}
.sale-price{
  font-size: 31px;
  font-weight: bold;
  font-weight: 600;
}
.orignal-price{
  color: #999;
  font-size: 18px;
  vertical-align: middle;
  text-decoration: line-through;
  font-weight: normal;
  padding-top: 11px;
  padding-left: 7px;
}
.text-oraing{
  color: #ff603c;
  font-weight: bold;
  font-size: 18px;
}
.pakage-card-title{
  background: #ff603c!important;
  color: white!important;
  font-size: 18px!important;
  border-radius: 26px!important;
}
.card-title{
  color: white!important;
  font-size: 18px!important;
}
.pakage-dec-card{
  border-radius: 27px;
  border: 1px solid #ff603c;
}
.recomended-tag{
  background: #ff603c;
  color: white;
  padding: 6px;
  border-radius: 8px;
  position: absolute;
  margin-top: -77px;
  margin-left: 192px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
}